/* Footer.js */


.footer {
  /* clear: both; */
  bottom: 0;
  margin-top: -200px;
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #ffdb3a;
  font-weight: 800;
  font-size: 15px;
}
.div_Footer_One{
  margin-top: 30px;
  padding: 20px;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid green;
}

.div_Footer_two{
  padding: 20px;
  width: 60%;
  display: flex;
  justify-content: center;

}
.Footerdiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.floatfooter {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  width: 20%;
  z-index: 200;
  background-color: #ffdb3a;
  transition: all 0.3s ease-in;
}

.floatfooter:hover {
  width: 30%;
  box-shadow: 2px 3px 10px black;
}
.Footerdata {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

/* table  */
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 10px;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    /* font-size: .8em; */
    text-align: right;
  }

  table td::before {
    /*
  * aria-label has no advantage, it won't be read inside a table
  content: attr(aria-label);
  */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
/* table  */

.StripeElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.button {
  background-color: #1a3b1b; /* Green */
  border: none;
  width: "80%";
  color: rgb(255, 255, 255);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.subtotal .totalRow {
  padding: 0.5em;
  text-align: right;
  list-style: none;
  display: flex !important;
  justify-content: space-between !important;
}
.mainWindw {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-flow: column wrap;
}
.titlewindow {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.carta {
  width: 75%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  border-bottom: 2px solid black;
}

.cartwrapp {
  display: flex;
  justify-content: center;
}
.subtotal {
  float: center !important;
  width: 100%;
  display: flex !important;
  justify-content: center !important;
}
